* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 1.25em; /* set base font size here so that rem works downstream */
}

header {
  margin: 200px 0 100px 0;

}

.max-width-wrapper {
  margin: 0 auto;
  max-width: 720px;
}

h1 {
  font-size: 2rem;
}

.intro-chunk {
  max-width: 420px;
  padding: 0 16px;
}

.intro-chunk p {
  font-size: 1.25rem;
}

.intro-chunk strong {
  color: hsl(160deg, 100%, 30%);
  font-weight: 600;
}

main {
  border-top: 8px solid hsl(0deg, 0%, 40%);
  background-color: hsl(0deg, 0%, 60%);
  height: 100%;
}

.card {
  margin: 100px 0;
  padding: 2px 16px 16px 16px;
  background-color:  white;
  max-width: 780px;
  border-bottom: 8px solid hsl(0deg, 0%, 40%);;
}

h2 {
  background-color:hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  padding: 16px 32px;
  margin: 8px 0;
  margin-left: -32px;
  width: fit-content;
  font-size: 1.25rem;
}

.card p {
  line-height: 1.5;
}
